<div class="page page-table" data-ng-controller="MeusJogosController">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Responsive Table - Flip Scroll</strong></div>
        <div class="panel-body">
            <section class="table-flip-scroll">
                <table class="table table-bordered table-striped cf">
                    <thead class="cf">
                        <tr>
                            <th>Dia/Horario</th>
                            <th>Horario</th>
                            <th class="numeric">Nº Maximo Jogadores</th>
                            <th class="numeric">Nº Jogos</th>
                            <th class="numeric">Media Nota</th>
                            <th class="numeric">Nº Gols</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="jogo in jogos">
                            <td>{{jogo.dia}} - {{jogo.horaInicial}} as {{jogo.horaFinal}}</td>
                            <td>{{jogo.confirmacao}}</td>
                            <td class="numeric">{{jogo.maximoConfirmados}}</td>
                            <td class="numeric">{{jogo.jogoPorData.length}}</td>
                            <td class="numeric">{{calcMedia(jogo.jogoPorData)}}%</td>
                            <td class="numeric">{{calcGols(jogo.jogoPorData)}}</td>
                            <td>
                                <button class="btn btn-primary" type="button" ng-click="gravarGols(jogo.id)">Visualizar</button>
                                <button class="btn btn-danger" type="button" ng-click="cancel()">Sair</button>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </section>
    <div data-ui-footer></div>
</div>